html,
body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  /*width: 1170px;*/
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://ik.imagekit.io/zlt25mb52fx/ahmcdn/tr:w-1400,pr-true,f-auto/uploads/product-draft/lifestyle/lifestyle-banner-4-20-09122021-023005.jpg);
  background-size: cover;
  color: #dc2626;
  font-weight: bold;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #333;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.button {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.button:hover {
  opacity: 1;
}

.text {
  color: white;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.9);
  /* Ubah position ke fixed, dan top ke 0 */
  position: fixed;
  top: 0;
  /* Ubah z-index ke 999999 */
  z-index: 999999;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  overflow-y: hidden;
}

.lesson-icon {
  position: relative;
}

.lesson.image {
  width: 50%;
  height: 50%;
}

.lesson-icon p {
  position: absolute;
  top: 90px;
  width: 100%;
  color: white;
}

.lesson-icon img {
  width: 80%;
}

.lesson-wrapper {
  background-color: #f7f7f7;
  text-align: center;
}

.lesson-box {
  border: 1px solid transparent;
  position: relative;
}

.lesson:hover {
  overflow-y: unset;
}

.lesson:hover .lesson-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  z-index: 99999;
}

.lesson-box {
  padding: 1%;
  margin: 5px 0;
}

.lesson .list-product-name,
.lesson .list-product-price {
  display: block;
  color: #000;
}

.lesson .list-product-price,
.lesson .message {
  visibility: hidden;
}

.lesson .list-product-name {
  font-size: 140%;
  font-weight: 550;
  margin-top: -20px;
}

.lesson .list-product-price {
  padding: 8px 0;
  font-size: 105%;
  font-weight: 800;
}

.lesson:hover .message,
.lesson:hover .list-product-price {
  visibility: visible;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #ca5d5d;
  cursor: pointer;
  box-shadow: 0 7px #d30f0f;
  margin-bottom: 15px;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

.footer {
  padding: 10px;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
  border-top: 3px solid #292929;
}

footer .copyright {
  text-align: center;
  border-bottom: 1px solid #666;
  background-color: #292929;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.25);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

footer a {
  color: #fff;
  padding: 0 10px;
}

footer a:hover {
  color: rgba(255, 255, 255, 0.4);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
  transition: color 1s ease;
}

.logo-footer {
  float: left;
  margin-top: 10px;
}

footer ul {
  list-style: none;
  display: flex;
  float: right;
}

footer ul li {
  float: left;
}

.clear {
  clear: both;
}

/* Diskon Hari Ini */
.offer {
  text-align: center;
  background-color: #44403c;
  color: white;
  padding: 24px 12px;
}

.title {
  font-size: 36px;
  margin-bottom: -30px;
}

.subtitle {
  font-size: 28px;
}

.paragraph {
  font-size: 16px;
}

.text-heading {
  font-size: 24px;
}

.box {
  color: #cbd5e1;
  background-color: #7f1d1d;
  width: 50%;
  margin: auto;
  border: 2px solid #b91c1c;
  flex-direction: column;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 0 10px;
}

.box:hover {
  color: #f8fafc;
  background-color: #991b1b;
  border: 2px solid white;
  cursor: pointer;
}

.text-heading {
  margin-bottom: 15px;
}

.txt-red {
  color: #b91c1c;
}
